<%- include("partials/header.ejs") %>
    <div id="landing-container">
        <h1>Main Page</h1>
        <form action="/logout" method="post">
            <button type="submit" id="logout-btn">Log Out</button>
        </form>
    </div>
<%- include("partials/footer.ejs") %>