<%- include("partials/header.ejs") %>
        <div id="info-lable" class="container-control">
            <h1>HEY THERE!</h1>
            <h3>You are one step away to your feed</h3>
            <p>Don't have an account</p>

            <div id="signup-btn">
                <a id="btn" href="/register">SIGN Up</a>
            </div>
        </div>

        <div id="signin-container" class="container-controlx">
            <h1>LOGIN </h1>
            <form action="/authen" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="username" placeholder="somename@example.com" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" required placeholder="password">
                </div>
                <button type="submit" class="login-btn">Login</button>
                <div class="divider">
                    <span>Or Sign In With</span>
                </div>
                <span id="OAuth"><a href="/auth/google"><i class="bi bi-google"></i></a></span>
            </form>
        </div>
<%- include("partials/footer.ejs") %>